---
import Layout from '../../layouts/Layout.astro';
import BaseHead from '../../components/BaseHead.astro';
import { type CollectionEntry, getCollection, render } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import '../../styles/blog-content.css';
import '../../styles/license.css';
import Toc from '../../components/Toc.astro';
import CommentSection from '../../components/Giscus.astro';
import ShareCardClient from '../../components/ShareCardClient.jsx';
import ModuleA from '../../components/sidebar/moduleA.astro';
import ModuleB from '../../components/sidebar/moduleB.astro';
import ModuleC from '../../components/sidebar/moduleC.astro';

type Props = CollectionEntry<'blog'>;


export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.id },
    props: post,
  }));
}

const post = Astro.props;
const { Content, headings } = await render(post);
const { title, description, pubDate, updatedDate, author, license, zh } = post.data;

const LICENSE_MAP = {
  "CC BY 4.0": "https://creativecommons.org/licenses/by/4.0/",
  "CC BY-SA 4.0": "https://creativecommons.org/licenses/by-sa/4.0/",
  "CC BY-ND 4.0": "https://creativecommons.org/licenses/by-nd/4.0/",
  "CC BY-NC 4.0": "https://creativecommons.org/licenses/by-nc/4.0/",
  "CC BY-NC-SA 4.0": "https://creativecommons.org/licenses/by-nc-sa/4.0/",
  "CC BY-NC-ND 4.0": "https://creativecommons.org/licenses/by-nc-nd/4.0/",
  "NONE": null,
};

const licenseUrl = LICENSE_MAP[license] || null;
---
<Layout>
    <BaseHead slot="head" title={title} description={description} />

    <!--左边栏-->
    <div slot="leftbar">
        <ModuleA />
        <ModuleB />
        <ModuleC />
    </div>
    <!--右边目录栏--!>
    <div slot="rightbar">
        <Toc headings={headings} />
        <div class="license-container">
            <h1>Article License</h1>
            <div class="license-card">
                <h1 class="license-title">{title}</h1>
                <p class="blog-link">
                <a href={`/blog/${post.id}`}>https://neojulietblog.netlify.app/blog/{post.id}</a>
                </p>
            <div class="license-meta">
            <span class="license-meta-item">
            <span class="label">Author</span>
            <span class="value">{author}</span>
            </span>
            <span class="license-meta-item">
            <span class="label">Published</span>
            <span class="value"><FormattedDate date={pubDate} /></span>
            </span>
            <span class="license-meta-item">
                <span class="label">License:</span>
                {licenseUrl ? (
                    <a class="license-link" href={licenseUrl} target="_blank" rel="noopener noreferrer">
                        {license}
                    </a>
                    ) : (
                        <span class="value">{license}</span>
                    )}
                </span>
            </div>
            </div>
        </div>
    </div>

    <div class="blog-content">
        <!-- 文章内容 -->
        <article class="blog-post" style="flex:1;" id="article-content">
            <h1 class="title">{title}</h1>

            <div class="meta-row">
                <div class="author">By {author}</div>
                <div class="date">
                    <FormattedDate date={pubDate} />
                    {updatedDate && ( <div class="last-updated"> 
                        Last updated on <FormattedDate date={updatedDate} />
                    </div>)}
                </div>
                {zh && (
                    <div class="lang-switcher">
                        <a href={`/blog/zh/${post.id}`}>阅读中文版</a>
                    </div>
                )}
            </div>
            <hr />

            <div class="prose">
                <Content />
            </div>
            <hr class="commet-content-divider" />
            <div class="comment-container">
                <h1>Comments</h1>
                <p>账号又被干烂了😅</p>
                <p>如果你有任何想法/思考，并且不嫌麻烦，欢迎使用 邮件/tg 与我讨论</p>
                <CommentSection />
            </div>
        </article>
        <ShareCardClient 
            client:load
            title={title}
            description={description}
            pubDate={pubDate}
            author={author}
            license={license}
        />
    </div>
</Layout>
